<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="0bd0a274-3c1e-46de-a30b-b936089c7d24"
    Publisher="CN=basicfx"
    Version="1.0.4.0" />

  <mp:PhoneIdentity PhoneProductId="0bd0a274-3c1e-46de-a30b-b936089c7d24" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Uran</DisplayName>
    <PublisherDisplayName>xdmxn</PublisherDisplayName>
    <Logo>Assets\50x50.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Uran.App">
		<Extensions>
			<desktop:Extension Category="windows.fullTrustProcess" Executable="Assets\launcher.exe" />
		</Extensions>
      <uap:VisualElements
        DisplayName="Uran"
        Square150x150Logo="Assets\150x150.png"
        Square44x44Logo="Assets\44x44.png"
        Description="Uran"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\310x150.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Splash.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

	<Capabilities>
		<Capability Name="internetClient" />	
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>